body {
    /* aplica em todo o corpo */
    background: #f4f4f4
}

p {
    /* aplica a formatação só nos paragrafos */
    text-align: center;
}

em strong {
    /* procura todos os 'strongs' dentro de um 'em' */
    color: red;
}