body {
    /* aplica em todo o corpo */
    background: #f4f4f4
}

#banner {
    /* usa a # para referenciar um identificador */
    width: 100%;
}

h1 {
    text-align: center
}

p {
    /* aplica a formatação só nos paragrafos */
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    /* procura todos os 'strongs' dentro de um 'em' */
    color: red;
}

.itens {
    /* usa o . para referenciar uma classe */
    font-style: italic;
}