header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position:relative;
    margin: auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;

    /* ordem de margens: cima, direita, baixo, esquerda */
}

nav a {
    text-transform: uppercase;
    /* transforma as letras em capslock */
    color: #000000;
    font-weight: bold;
    /* deixa o texto com aspecto em negrito */
    font-size: 22px;
    text-decoration: none;
    /* retira as decorações do texto. nesse caso, retirou o sublinhado */
}

#banner {
    /* usa a # para referenciar um identificador */
    width: 100%;
}

.principal {
    background: #f4f4f4;
    padding: 50px;
}

.titulo-principal {
    padding-left: 20px;
    font-size: 36px;
}

.titulo-centralizado {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

p {
    /* aplica a formatação só nos paragrafos */
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
}

#missao {
    font-size: 25px;
    font-weight: bold;
}

em strong {
    /* procura todos os 'strongs' dentro de um 'em' */
    color: rgb(28, 51, 184);
}

.itens {
    /* usa o . para referenciar uma classe */
    font-style: italic;
    font-size: 25px;
}

.beneficios {
    background: #ffffff;
    padding: 50px
}


.imagembeneficios {
    width: 30%;
    
}

footer {
    text-align: center;
    background: url("images-produtos/bg.jpg");
    padding: 40px;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}