   body {
       font-family: 'Montserrat', sans-serif;
   }

   /* CSS do cabeçalho */

   header {
       background: #d6d5d5;
       padding: 20px 0;
   }

   .caixa {
       width: 940px;
       position: relative;
       margin: auto;
   }

   nav {
       position: absolute;
       top: 110px;
       right: 0;
   }

   nav li {
       display: inline;
       margin: 0 0 0 15px;
       /* ordem de margens: cima, direita, baixo, esquerda */
   }

   nav a {
       text-transform: uppercase;
       /* transforma as letras em capslock */
       color: #000000;
       font-weight: bold;
       /* deixa o texto com aspecto em negrito */
       font-size: 25px;
       text-decoration: none;
       /* retira as decorações do texto. nesse caso, retirou o sublinhado */
   }

   nav a:hover {
       color: #0388f5;
       transition: 1s all;
       font-size: 27px;
   }

   nav a:active {
       color: #005da8;
   }

   /* CSS da página de produtos */

   .produtos {
       width: 940px;
       margin: 0 auto;
       padding: 50px 0;
   }

   .produtos li {
       display: inline-block;
       text-align: center;
       width: 30%;
       vertical-align: top;
       margin: 0 1.5%;
       padding: 30px 20px;
       box-sizing: border-box;
       /* Usamos para que a % de margem esteja dentro dos px que definimos no padding */
       border: 2px solid #CCCCCC;
       border-radius: 10px;
   }

   .produtos li:hover {
       /* comportamento do item ao passar o mouse */
       border-color: #0388f5;
   }

   .produtos li:active {
       /* comportamento do item ao ser clicado */
       border-color: #005da8;
   }

   .produtos li:hover h2 {
       font-size: 34px
   }

   .produtos h2 {
       font-size: 30px;
       font-weight: bold;
   }

   .produto-descricao {
       font-size: 18px;
   }

   .produto-preco {
       font-size: 22px;
       font-weight: bold;
       margin-top: 10px;
   }

   /* CSS da página de contato */

   main {
       width: 940px;
       margin: 0px auto;
   }

   .titulo-formulario {
       text-align: left;
       font-weight: bold;
       font-size: 2em;
       margin: 1em 0 1em 0;
       color: white;
   }

   form {
       display: block;
       margin: 60px auto;
       background-color: #005da8;
       border-radius: 10px;
       padding: 20px 80px 50px 60px;
       box-sizing: border-box;
   }

   form label, form legend {
       display: block;
       font-size: 20px;
       margin-bottom: 10px;
       color: white;
   }

   form ::placeholder {
       font-size: 20px;
       color: #005da8;
   }

   .input-padrao {
       display: block;
       margin-bottom: 20px;
       padding: 20px 10px;
       width: 100%;
       border: none;
       background-color: #ffffff;
       border-radius: 5px;
   }

   fieldset select {
       padding: 10px 20px 10px 20px;
       border: none;
       font-size: 16px;
       border-radius: 7px;
       color: #005da8;
       font-weight: bold;
   }

   .checkbox {
       margin: 20px 0;
       /* 20px pra cima e pra baixo e 0 pra esquerda e direita */
   }

   .enviar {
       /* configuração visual do botão de enviar formulário */
       width: 30%;
       /* configuração de largura do botão */
       padding: 15px 0;
       /* espaçamento superior e inferior entre o texto e a borda */
       background-color: #ffffff;
       color: #005da8;
       font-weight: bold;
       font-size: 18px;
       border: none;
       /* retirar a borda padrão */
       border-radius: 3px;
       transition: 1s all;
       /* fazer com que a transição entre um background e outro seja mais devagar ou todos os efeitos (como a escala) */
       cursor: pointer;
       /* altera o cursor que aparece quando colocamos o mouse em cima do enviar formulário */
   }

   .enviar:hover {
       /* efeito ao passar o mouse em cima do botão de enviar formulário */
       background-color: #74aad6;
       color: white
       /* transform: scale(1.2); */
       /* aumenta proporcionalmente quando colocamos o mouse em cima (nesse caso, 20%) */
       /* transform: rotate(70deg);  rotação de itens em graus. para usar o scale e rotate juntos, só usar os dois separados por espaço */
   }

   table {
       display: inline-block;
       font-size: 20px;
       text-align: center;
       box-sizing: border-box;
        margin: 0 0 60px 25%;
   }


   thead {
       background-color: #005da8;
       font-size: 25px;
       color: white;
       font-weight: bold;
   }

   td, th {
       border: 1px solid #005da8;
       padding: 10px 50px;
       /* 1 numero: para cima e para baixo. 2 numero: laterais */
   }

   /* CSS da página inicial */

   .banner {
       width: 100%;
   }

   .titulo-principal {
       text-align: center;
       font-weight: bold;
       font-size: 2em;
       /* medida proporcional para pixel. exemplo: a fonte base é de 15px, se colocarmos 2em, a fonte será de 30px */
       margin: 1em 0 1em 0;
       /* ordem das margens: cima, direita, baixo, esquerda */
       clear: left;
       /* limpa o float usado em .utensilios para que não impacte o que está abaixo do float (colocamos o clear a partir do objeto que não queremos que seja alterado */
   }

   .utensilios {
       width: 160px;
       border-radius: 7px;
       float: left;
       margin: 17px 20px 20px 0;
   }

   .principal p {
       margin-bottom: 1em;
       line-height: 25px;
   }

   .principal strong {
       font-weight: bold;
   }

   .principal em {
       font-style: italic;
   }

   .mapa {
       padding: 3em 0;
   }

   .mapa p {
       text-align: center;
       margin: 0 0 2em;
   }


   .beneficios {
    padding: 3em 0;
   }

   .conteudo-beneficios {
       width: 640px;
       margin: 0 auto;
   }

   .lista-beneficios {
       width: 40%;
       display: inline-block;
       vertical-align: top;
   }

   .itens {
       line-height: 1.5;
   }

   .itens:first-child { 
       /* pseudo-elemento: usamos para fazer marcações em lugares específicos de uma classe sem precisar criar outra classe pra ele
       tipos:
       first-child: realiza a formatação somente no primeiro item;
       last-child: realiza a formatação somente no último item;
       nth-child(número do elemento)
       usamos o first-child para atualizar o CSS somente do primeiro elemento (e o last-child para o último) sem precisar criar uma classe pra ele */  
    font-weight: bold;

   }

   .imagem-beneficios {
       width: 60%;
       border-radius: 7px;
   }


   .video {
       width: 560px;
       margin: 2em auto;
   }

   footer {
       text-align: center;
       background: url("images-produtos/bg.jpg");
       /* maneira de colocar uma imagem no footer */
       padding: 40px;
       clear: right;
   }

   .copyright {
       color: white;
       font-size: 13px;
       margin-top: 20px;
   }