    header {
        background: #BBBBBB;
        padding: 20px 0;
    }
    
    .caixa {
        width: 940px;
        position: relative;
        margin: auto;
    }
    
    nav {
        position: absolute;
        top: 110px;
        right: 0;
    }
    
    nav li {
        display: inline;
        margin: 0 0 0 15px;
        /* ordem de margens: cima, direita, baixo, esquerda */
    }
    
    nav a {
        text-transform: uppercase;
        /* transforma as letras em capslock */
        color: #000000;
        font-weight: bold;
        /* deixa o texto com aspecto em negrito */
        font-size: 22px;
        text-decoration: none;
        /* retira as decorações do texto. nesse caso, retirou o sublinhado */
    }
    
    nav a:hover {
        color: #0388f5;
        text-decoration: underline;
    }
    
    .produtos {
        width: 940px;
        margin: 0 auto;
        padding: 50px 0;
    }
    
    .produtos li {
        display: inline-block;
        text-align: center;
        width: 30%;
        vertical-align: top;
        margin: 0 1.5%;
        padding: 30px 20px;
        box-sizing: border-box;
        /* Usamos para que a % de margem esteja dentro dos px que definimos no padding */
        border: 2px solid #CCCCCC;
        border-radius: 10px;
    }
    
    .produtos li:hover {
        /* comportamento do item ao passar o mouse */
        border-color: #0388f5;
    }
    
    .produtos li:active {
        /* comportamento do item ao ser clicado */
        border-color: rgb(0, 204, 255);
    }
    
    .produtos li:hover h2 {
        font-size: 34px
    }
    
    .produtos h2 {
        font-size: 30px;
        font-weight: bold;
    }
    
    .produto-descricao {
        font-size: 18px;
    }
    
    .produto-preco {
        font-size: 22px;
        font-weight: bold;
        margin-top: 10px;
    }
    
    footer {
        text-align: center;
        background: url("images-produtos/bg.jpg");
        /* maneira de colocar uma imagem no footer */
        padding: 40px;
    }
    
    .copyright {
        color: white;
        font-size: 13px;
        margin-top: 20px;
    }
    
    main {
        width: 940px;
        margin: 0 auto;
    }
    
    form {
        margin: 40px 0;
    }
    
    form label,
    form legend {
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .input-padrao {
        display: block;
        margin-bottom: 20px;
        padding: 7px 20px;
        width: 35%;
    }
    
    .checkbox {
        margin: 20px 0;
        /* 20px pra cima e pra baixo e 0 pra esquerda e direita */
    }